---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume {{ site.data.resume.basics.name }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css?ver=1.2.2" rel="stylesheet">
    <link href="css/mdb.min.css?ver=1.2.2" rel="stylesheet">
    <link href="css/aos.css?ver=1.2.2" rel="stylesheet">
    <link href="css/main.css?ver=2" rel="stylesheet">
    <meta property="og:title" content="{{ site.data.resume.basics.name }} Resume"/>
    <meta property="og:image" content="{{ site.data.resume.meta.preview }}"/>
    <meta property="og:description" content="{{ site.data.resume.basics.summary }}"/>
    <meta property="og:url" content="{{ site.data.resume.basics.url }}"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="629" />
    <meta property="og:type" content="website"/>
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body class="bg-light" id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
          <h1 class="site-title mb-0">{{ site.data.resume.basics.name }}</h1>
          <div class="site-nav"> 
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experience</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#references" title="References"><span class="menu-title">References</span></a>
                </li>		
                <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
                </li>		
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="images/header-background.png"  width="1600" height="685" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.25);backdrop-filter: blur(2px);">
          <div class="text-center p-5">
            <div class="avatar p-1"><!-- <img class="img-thumbnail shadow-2-strong" src="{{ site.data.resume.basics.image }}" width="160" height="160"/> --><img class="img-thumbnail shadow-2-strong d-none d-print-inline mx-2" src="{{ site.data.resume.meta.qr }}" width="160" height="160"/></div>
            <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">
                <h2 class="h1">{{ site.data.resume.basics.name }}</h2>
                <p>{{ site.data.resume.basics.label }}</p>
              </div>
              <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
		   {% for profile in site.data.resume.basics.profiles %}
                    <li class="nav-item"><a class="nav-link" href="{{ profile.url }}" title="{{ profile.network }}"><i class="{{ profile.fontawesome }}"></i><span class="menu-title sr-only">{{ profile.network }}</span></a>
                    </li>
		   {% endfor %}
                  </ul>
                </nav>
              </div>
              <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" target="_blank" href="resume.pdf" data-aos="fade-right" data-aos-delay="700">Resume PDF</a><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" target="_blank" href="resume.json" data-aos="fade-right" data-aos-delay="700">Resume JSON</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="about">
    <div class="about-section">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h2 fw-light mb-4">About Me</h2>
          <p>{{ site.data.resume.basics.summary }}</p>
        </div>
        <div class="col-md-5 offset-lg-1">
          <div class="row mt-2">
            <h2 class="h2 fw-light mb-4">Bio</h2>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a href="mailto:{{ site.data.resume.basics.email }}">{{ site.data.resume.basics.email }}</a></div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Mobile Phone</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2"><a href="tel:{{ site.data.resume.basics.phone }}">{{ site.data.resume.basics.phone }}</a></div>
            </div>
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder"><i class="fas fa-laptop-house pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Home/Office</div>
            </div>
            <div class="col-sm-7">
              <div class="pb-2">{{ site.data.resume.basics.location.city }}, {{ site.data.resume.basics.location.postalCode }}</div>
            </div>	    
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-break" />
  <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
    <div class="work-experience-section">
      <h2 class="h2 fw-light mb-4">Work Experience</h2>
      <div class="timeline">
       {% for job in site.data.resume.work %}
        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-2">
            <div class="h5">{{ job.position }} <span class="text-muted h6">at {{ job.name }}, {{ job.location }}</span></div>
          </div>
          <div class="timeline-body px-4 pb-1">
            <div class="text-muted text-small mb-3">{{ job.startDate | date: "%Y" }} - {{ job.endDate | date: "%Y" }}</div>
            <div>{{ job.summary }}</div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="education">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
       {% for school in site.data.resume.education %}
        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
          <div class="timeline-head px-4 pt-2">
            <div class="h5">{{ school.studyType }} {{ school.area }} <span class="text-muted h6">from {{ school.institution }}</span>          </div>
          </div>
          <div class="timeline-body px-4 pb-2">
            <div class="text-muted text-small mb-2">{{ school.startDate | date: "%Y" }} - {{ school.endDate | date: "%Y" }}</div>
          </div>
        </div>
       {% endfor %}       

      </div>
    </div>
  </div>
  <div class="shadow-1-strong bg-white my-5 p-5" id="references">
    <div class="reference-section">
      <h2 class="h2 fw-light mb-4">References</h2>
      {% for reference in site.data.resume.references %}
          <div class="d-flex mb-2">
            <div class="avatar"><img src="{{ reference.avatar }}" width="60" height="60"/></div>
            <div class="header-bio m-3 mb-0">
              <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">{{ reference.name }}</h3>
              <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">{{ reference.title }}</p>
            </div>
          </div>
          <div class="d-flex"><i class="text-secondary fas fa-quote-left"></i>
            <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">{{ reference.reference }}</p>
          </div>
       {% endfor %}       	  
    </div>
  </div>
  <div class="page-break" />
  <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Professional Skills</h2>
      <div class="row">
        <div class="col">
         {% for skill in site.data.resume.skills %}
  	  {% assign mod = forloop.index | modulo: 3 %}
	  {% if mod != 1 %}
	    {% continue %}
	  {% endif %}
          <div class="mb-3" title="{{ skill.keywords | join: ", " }}"><span class="fw-bolder">{{skill.name }} <span class="text-muted fw-normal">({{skill.level}})</span></span>
	    <div class="text-muted" style="font-size: 0.75em">{{ skill.keywords | join: ", " }}</div>
          </div>
	 {% endfor %}
	</div>
        <div class="col">
         {% for skill in site.data.resume.skills %}
  	  {% assign mod = forloop.index | modulo: 3 %}
	  {% if mod != 2 %}
	    {% continue %}
	  {% endif %}
          <div class="mb-3" title="{{ skill.keywords | join: ", " }}"><span class="fw-bolder">{{skill.name }} <span class="text-muted fw-normal">({{skill.level}})</span></span>
	    <div class="text-muted" style="font-size: 0.75em">{{ skill.keywords | join: ", " }}</div>
          </div>
	 {% endfor %}
	</div>	
        <div class="col">
         {% for skill in site.data.resume.skills %}
  	  {% assign mod = forloop.index | modulo: 3 %}
	  {% if mod != 0 %}
	    {% continue %}
	  {% endif %}
          <div class="mb-3" title="{{ skill.keywords | join: ", " }}"><span class="fw-bolder">{{skill.name }} <span class="text-muted fw-normal">({{skill.level}})</span></span>
	    <div class="text-muted" style="font-size: 0.75em">{{ skill.keywords | join: ", " }}</div>
          </div>
 	 {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="text-small">
          <div class="mb-1">&copy; {{ 'now' | date: "%Y" }} {{ site.data.resume.basics.name }}. All rights reserved.</div>
          <div>Template - <a href="https://templateflip.com/templates/material-resume/" target="_blank">TemplateFlip Material Resume</a></div>
	  <div>Background - <a href="https://upload.wikimedia.org/wikipedia/commons/c/ce/Technetium_spectrum_visible.png" target="_blank">Technetium Spectral Lines</a></div>
	  <div><a href="{{ site.data.resume.meta.sourcecode }}" target="_blank">Source Code</a></div>
        </div>
      </div>
    </footer>
    <script src="scripts/mdb.min.js?ver=1.2.2"></script>
    <script src="scripts/aos.js?ver=1.2.2"></script>
    <script src="scripts/main.js?ver=2"></script>
  </body>
</html>
